.ant-table-filter-dropdown-btns .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}

.ant-col.ant-form-item-label.css-dev-only-do-not-override-zl9ks2 {
  font-weight: 700;
}
